CLIENT_TOKEN=

# feature based
GEMINI_API_KEY=
DB_PATH=

# trace | debug | info | warn | error — unset means no logs at all
LOG_LEVEL=

# bypass the bin check and overwrite the bin location
DISAITY_FFMPEG=
DISAITY_YTDLP=

# Over write the whole bot tree
DISAITY_HOME=
